/******************************************
/* SETUP
/*******************************************/
/* Box Model Hack */

* {
  -moz-box-sizing: border-box;
  /* Firexfox */

  -webkit-box-sizing: border-box;
  /* Safari/Chrome/iOS/Android */

  box-sizing: border-box;
  /* IE */
}
/******************************************
/* BASE STYLES
/*******************************************/

header {
  background-color:#DCE0D9;
  width: 100%;

  padding-top:0px;
  padding-bottom:0px;
  padding: 0px;
  margin: 0px;
  z-index: 1;
}

body {
     color: #DCE0D9;
     font-size: 14px;
     line-height: 2;
     font-family: 'Open Sans', Arial, sans-serif;
     background:#FFFFFF;
     padding: 0px;
     margin: 0px;
     z-index: 0;
   }

   h1 {
     color:#BC261D;
     font-size: 32px;
     text-align: center;
     font-family: 'Open Sans', Arial, sans-serif;
     font-weight:100;
   }

   h2 {
     color:#DCE0D9;
     font-size: 18px;
     text-align: left;
     font-family: 'Open Sans', Arial, sans-serif;
     font-weight:500;
   }

#container {
  width: 100%;
  height: 100%;
}

section{
  width:100%;
  height:auto;
  position:absolute;
}

a:link,a:visited{
  color:#DCE0D9;
}

a:hover{
  color:#FFFFFF;
}

p{
  line-height:1.3em;
}

button{

}
