/******************************************
/* SETUP
/*******************************************/
/* Box Model Hack */

* {
  -moz-box-sizing: border-box;
  /* Firexfox */

  -webkit-box-sizing: border-box;
  /* Safari/Chrome/iOS/Android */

  box-sizing: border-box;
  /* IE */
}
/******************************************
/* BASE STYLES
/*******************************************/

header {
<<<<<<< HEAD
<<<<<<< HEAD
    background-color:#DCE0D9;
    width: 100%;

    padding-top:0px;
    padding-bottom:0px;
    padding: 0px;
    margin: 0px;
    z-index: 1;
  }

body {
    background-image: url("/img/bgpattern.png");
    color: #DCE0D9;
    font-size: 16px;
    line-height: 2;
    font-family: 'Open Sans', Arial, sans-serif;
    padding: 0px;
    margin: 0px;
    z-index: 0;
   }

   h1 {
     color: #BC261D;
     font-size: 32px;
     line-height: 2;
     font-family: 'Open Sans', Arial, sans-serif;
     font-weight: 100;
     text-align: center;
   }
=======
=======
>>>>>>> master
  background-color:#DCE0D9;
  width: 100%;

  padding-top:0px;
  padding-bottom:0px;
  padding: 0px;
  margin: 0px;
  z-index: 1;
}

body {
     color: #DCE0D9;
     font-size: 14px;
     line-height: 2;
     font-family: 'Open Sans', Arial, sans-serif;
     background:#FFFFFF;
     padding: 0px;
     margin: 0px;
     z-index: 0;
   }

   h1 {
     color:#BC261D;
     font-size: 32px;
     text-align: center;
     font-family: 'Open Sans', Arial, sans-serif;
     font-weight:100;
   }

   h2 {
     color:#DCE0D9;
     font-size: 18px;
     text-align: left;
     font-family: 'Open Sans', Arial, sans-serif;
     font-weight:500;
   }

#container {
  width: 100%;
  height: 100%;
}
<<<<<<< HEAD
>>>>>>> master

   h2 {
     color: #DCE0D9;
     font-size: 24px;
     line-height: 2;
     font-family: 'Open Sans', Arial, sans-serif;
     font-weight: 300;
   }

   h3 {
     color: #DCE0D9;
     font-size: 14px;
     line-height: 2;
     font-family: 'Open Sans', Arial, sans-serif;
   }

   a:link,a:visited{
    color:#BC261D;
    text-decoration: none;
  }

  a:hover{
    color:#851513;
  }

  p {
    line-height:1.3em;
  }

  footer {
=======
=======
    background-color:#DCE0D9;
    width: 100%;

    padding-top:0px;
    padding-bottom:0px;
    padding: 0px;
    margin: 0px;
    z-index: 1;
  }

body {
    background-image: url("/img/bgpattern.png");
    color: #DCE0D9;
    font-size: 14px;
    line-height: 2;
    font-family: 'Open Sans', Arial, sans-serif;
    padding: 0px;
    margin: 0px;
    z-index: 0;
   }

   h1 {
     color: #BC261D;
     font-size: 32px;
     line-height: 2;
     font-family: 'Open Sans', Arial, sans-serif;
     font-weight: 100;
     text-align: center;
   }
>>>>>>> katicesareo/master

   h2 {
     color: #DCE0D9;
     font-size: 22px;
     line-height: 4;
     font-family: 'Open Sans', Arial, sans-serif;
     font-weight: 300;
   }

   h3 {
     color: #DCE0D9;
     font-size: 14px;
     line-height: 2;
     font-family: 'Open Sans', Arial, sans-serif;
   }

   a:link,a:visited{
    color:#BC261D;
  }

  a:hover{
    color:#851513;
  }

  p{
    line-height:1.3em;
  }

  footer{
>>>>>>> master
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
  }
