body, html {

}

#form {
  width: 20%;
  height: 90%;
  margin-left: 40%;
  background: #DCE0D9;
  padding: 15px;
}

form input {
    width: 100%;
    font-size:24px;
}

p h3 a {
      color:#BC261D;

}
