#signup {
  width: 20%;
  height: 90%;
  margin-left: 40%;
  background: #DCE0D9;
}
form {

  position:
}

form input {
    font-size:
    color:
    background-color:

}

p h3 a {
      color:#BC261D;

}
