<<<<<<< HEAD

img {
  border-radius: 50%;
  padding-top: 10px;
  padding-bottom: 20px;
  height: 300px;
  margin-left: 10%;
}

#choosefile {
  width: 100%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  color: black;
  background-color: #DCE0D9;
  margin-bottom: 20px;
}

#form {
  width: 20%;
  height: 90%;
  margin-left: 40%;
  background: #DCE0D9;
  padding: 15px;
}

form input {
    width: 100%;
    font-size:20px;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

#createuser {
    background-color: #BC261D;
    text-align: center;
    width: 100%;
    font-size: 20px;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

p h3 a {
  color:#BC261D;
  text-decoration: none;
=======
body {
  

}

h1 {


}

header {


>>>>>>> master
}
